.sudoku {
    box-sizing: border-box;
    height: 950px;
    width: 950px;
    margin: 0;

}

.sudoku-row {
    height: 310px;
    width: 100%;
}

.block {
    border: 5px black solid;
    box-sizing: border-box;
    display: inline-block;
    height: 310px;
    width: 310px;
    margin: 0;
}

.block-row {
    height: 100px;
    width: 100%;
}

.cell {
    border: 1px black solid;
    display: inline-block;
    height: 100px;
    margin: 0;
    position: relative;
    width: 100px;
}

.number {
    color: #00a125;
    font-size: 35pt;
    font-weight: bold;
    left: 37px;
    position: absolute;
    top: 14px;
}

.fixed-options {
    color: #001ba1;
    display: inline-block;
    padding-top: 37px;
    text-align: center;
    width: 100%;
    /*position: absolute;*/
    top: 14px;
}

.options-top {
    color: #f58400;
    left: 8px;
    position: absolute;
    top: 5px;
}

.options-bottom {
    color: #f58400;
    bottom: 5px;
    position: absolute;
    right: 8px;
}